.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.accordion-wrapper {
  > div:nth-child(1),
  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(4),
  > div:nth-child(5),
  > div:nth-child(6),
  > div:nth-child(7),
  > div:nth-child(8),
  > div:nth-child(9),
  > div:nth-child(10),
  > div:nth-child(11),
  > div:nth-child(12),
  > div:nth-child(13),
  > div:nth-child(14),
  > div:nth-child(15),
  > div:nth-child(16),
  > div:nth-child(17),
  > div:nth-child(18),
  > div:nth-child(19),
  > div:nth-child(20),
  > div:nth-child(21),
  > div:nth-child(22),
  > div:nth-child(23),
  > div:nth-child(24)
  {
    background-color: rgb(221,255,221);
  }
}
.on-schedule {
  padding: 15px;
  font-weight: bold;

  &:before {
     content: "";
     display: inline-block;
     width: 10px;
     height: 10px;
     background-color: rgb(221,255,221);
     border: 1px solid black;
     margin-right: 10px;
   }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stat {
  display: inline-block;
  text-align: center;
  margin: 0 20px 10px;
}

.stat h6 {
  font-weight: 600;
}

.SortPPR {
  margin: 10px 0 !important;
}

